{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма для Apple Id</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <p class="h4 text-center">Форма для Apple Id</p>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary" role="alert">

                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="post">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm text-center pt-5">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" value="Сохранить">
            </div>
            <div class="col-sm">
            </div>
        </div>
    </form>
</div>
</body>
</html>