{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Форма для Apple Id</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
</head>
<body>
<div class="container-fluid">
    <p class="h4 text-center">Форма для Apple Id</p>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary" role="alert">

                {{ message|safe }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="post">
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm text-center pt-5">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" value="Сохранить">
            </div>
            <div class="col-sm">
            </div>
        </div>
    </form>
</div>
</body>
</html>
